<div class="posts-wrapper row">
  <% @posts.each do |post| %>
    <%= render 'post', post: post %>
  <% end %>
  <%= paginate @posts %>
  <div class="text-center" id="paginator">
    <%= link_to_next_page @posts, 'LOAD MORE', remote: true, id: 'load_more' %>
  </div>
</div>
